{%extends "base.html"%}
{% block stuff %}
    <!-- main container -->
    <h3>DEV KENTA</h3>
    <div class="container mt-5 bg-primary" style="border: 1px black solid;">
      <div class="row align-items-center">
        <div class="col mt-5"> 
          <h1>Track your Inventory</h1>
          <p>WELCOME TO YOUR FUCKING SITE,PLEASE FINISH THIS SITE.YOURS TRULY, UNRULY ADMIN!!!!!</p>
        </div>
        <div class="col mt-5"> 
          <img src="/static/images/stock.jpg" width="600" height="300" class="img-fluid"alt="Responsive image" >
        </div>
        

      </div>


    </div>

   
  </body>
</html>
{% endblock %}